.my-column {
  margin-top: 3rem;
}

.symbol-container {
  height: 10px;
  width: 10px;
  position: absolute;
}

.symbol-container:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: attr(data-content);
  font-size: 15px;
  color: black;
  line-height: 8px;
  text-align: center;
}
